/* components/banner/banner.wxss */
.banner-wrapper {
  position: relative;

  &::after {
    padding-top: 50%;
    content: '';
    display: block;
  }
  
  .banner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 0;


  }
}